@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
}

.links {
    padding: 5px;
    display: flex;
    margin: 4px;
    align-items: center;
    justify-content: space-around;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    gap: 20px;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    
}

.cont2 {
    background-color: #D9D9D9;
    height: 100vh;
}

.cont3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    text-align: center; 
}

main {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1000px; 
    height: 450px; 
    margin: 20px auto; 
    padding: 20px;
    
}

.name {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgPerf {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-right: 20px; 
}

.Nome {
    font-size: 30px;
    color: #28283bf3;
    text-decoration: none;
}

.buttonLL {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #000000, #333947);
    color: white;
    padding: 12px 25px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    margin-top: 10px;
}

.buttonLL:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.img:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 768px) {    
    /* Main */
    main {
        flex-direction: column; /* Empilha os itens verticalmente */
        text-align: center;
    }

    /* Imagem */
    .imgPerf {
        margin-right: 0; /* Remove a margem da imagem */
        margin-bottom: 20px; /* Adiciona margem abaixo da imagem */
    }

    /* Botões */
    .links {
      display: flex;
      flex-wrap:wrap-reverse ;
    }

    

}