@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    display: flex;
    font-family: "Poppins";
    font-weight: normal;
    align-items: center;
    justify-content: center;
}

.links {
    padding: 5px;
    display: flex;
    margin: 4px;
    align-items: center;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    gap: 20px;
}

.cont {
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: column;
}


.cont2 {
    background-color: #D9D9D9;
}

main {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1000px;
    height: 450px;
}

.name {
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgPerf {
    display: flex;
    align-items: center;
    justify-content: right;   
}



